.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calc {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  background-color: darkgrey;
}

.CalcModel {
  font-size: 0.6em;
  padding-bottom: 4px;
}

.CalcGrid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    'sc sc sc sc'
    'ac pm del div'
    'sev eig nin mul'
    'fou fiv six sub'
    'one two thr add'
    'zer zer dec eq';
  grid-gap: 10px 10px;
}

.CalcScreen {
  grid-area: sc;
  background-color: lightgreen;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px;
  text-align: right;
}

.CalcKey {
  border: 1px solid grey;
  border-radius: 3px;
}
